<div class="notecard-cnt" [style.backgroundColor]="noteDetails.color">
    <span class="notecard-title-cnt">{{noteDetails.title}}</span>
    <span class="notecard-desc-cnt">{{noteDetails.description}}</span>
    <div class="notecard-icons-cnt">
        <mat-icon svgIcon="archive-icon" aria-hidden="false" aria-label="pin icon" class="icon-archive" (click)="archiveNote(noteDetails)"></mat-icon>
        <mat-icon svgIcon="reminder-icon" aria-hidden="false" aria-label="pin icon" class="icon-remainder"></mat-icon> 
        <mat-icon svgIcon="color-palatte-icon" aria-hidden="false" aria-label="pin icon" class="color-palatte-icon"></mat-icon> 
        <mat-icon svgIcon="collabrator-icon" aria-hidden="false" aria-label="pin icon" class="collabrator-icon"></mat-icon> 
        <mat-icon svgIcon="img-icon" aria-hidden="false" aria-label="pin icon" class="img-icon"></mat-icon> 
        <mat-icon svgIcon="more-icon" aria-hidden="false" aria-label="pin icon" class="menu-icon"></mat-icon>
       
        <mat-icon svgIcon="trash-icon" (click)="deleteNote(noteDetails)" aria-hidden="false" aria-label="pin icon" class="undo-icon"></mat-icon>
        <mat-icon svgIcon="redo-icon" aria-hidden="false" aria-label="pin icon" class="redo-icon"></mat-icon>
    </div>
</div>  
   