.note{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:70%;
    height:70%;
    gap:5%;
}
.notecard-icons-cnt{
    display:flex;
    gap:5%;
    position: relative;
    top: 95px;
}
.notecard-cnt {  
    /* This  decidee the width of container  */
    border: 2px solid rgb(229, 14, 14);
    width: 20vw;
    height: 150px;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 100px;
    left: 150px;
    margin-bottom: 10px;
}

.notecard-title-cnt {
    position: relative;
    top: 5px;
    left: 5px;
}

.notecard-desc-cnt {
    position: absolute;
    top: 30px;
    left: 5px;
}
.colorMenu{
    display: flex;

}
.colorOptions
  {
    width: 20px; 
    height: 20px;
    border-radius: 50%;
    margin: 2px;
    border: 1px solid black;
  }