.note{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:70%;
    height:70%;
    gap:5%;
   border: 5px solid;
}
.notecard-icons-cnt{
    display:flex;
    gap:4%;
    position: relative;
    top: 10vh;
    width: 18vw;
}
.inside{
    position: absolute;
}
.notecard-cnt.grid-view {  
    /* This  decidee the width of container  */
   border-radius:14px;
   border: 1px solid black;
    width: 20vw;
    height: 150px;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 100px;
    left: 150px;
    margin-bottom: 10px;
}

.notecard-cnt.list-view{
border:2px solid green;
display:flex;
position: relative;
flex-direction: column;
justify-content: space-between;
height:10vh;
width: 40vw;
margin-left: 23%;
border-radius: 10px;
padding: 10px;
gap: 10px;
}

.notecard-cnt.top-shift {
    margin-top: 100px;
}

.notecard-title-cnt {
    position: relative;
    top: 5px;
    left: 5px;
}

.notecard-desc-cnt {
    position: relative;
    top: 30px;
    left: 5px;
}
.colorMenu{
    display: flex;

}
.colorOptions
  {
    width: 20px; 
    height: 20px;
    border-radius: 50%;
    margin: 2px;
    border: 1px solid black;
  }
  @media screen and (max-width: 1000px) {
    .notecard-icons-cnt{
        display:flex;
        gap:5%;
        position: absolute;
        top: 95px;
        width: 150px;
    }
  }