<div class="main" >
    <div class="container">
        <div class="input-card" *ngIf="takeNote; else addNote" (click)="handleCreateNote('open')">
            <input type="text" name="text" class="input" pattern="\d+" placeholder="Take a note............">
            <mat-icon svgIcon="tick-icon" aria-hidden="false" aria-label="reminder icon" class="icon"></mat-icon> 
            <mat-icon svgIcon="brush-icon" aria-hidden="false" aria-label="collaborator icon" class="icon1"></mat-icon>             
            <mat-icon svgIcon="img-icon" aria-hidden="false" aria-label="img icon" class="icon2"></mat-icon> 
        </div>
        <ng-template #addNote>
        <div class="input-card2">
          <div class="create-note-title-cnt">
            <input [(ngModel)]="title" type="text" placeholder="Title">
          </div>
            <div class="create-note-desc-cnt">
            <input [(ngModel)]="description" type="text"class="input1" pattern="\d+" placeholder="Description">
            </div>
            <div class="icons-div">
                <mat-icon svgIcon="archive-icon" aria-hidden="false" aria-label="pin icon" class="icon-archive"></mat-icon> 
                <mat-icon svgIcon="reminder-icon" aria-hidden="false" aria-label="pin icon" class="icon-remainder"></mat-icon> 
                
                <mat-icon svgIcon="collabrator-icon" aria-hidden="false" aria-label="pin icon" class="collabrator-icon"></mat-icon> 
                <mat-icon class="color-palatte-icon" [matMenuTriggerFor]="colorMenu">
                    <mat-icon svgIcon="color-palatte-icon" aria-hidden="false" aria-label="color pallatte icon"></mat-icon>
                </mat-icon>
                    <mat-menu #colorMenu="matMenu" class="colorMenu">                  
                          <button mat-menu-item>
                          <button class="colorOptions"  (click)="changeColor('#B4DDD3')" style="background-color: #B4DDD3"></button>
                          <button class="colorOptions"  (click)="changeColor('#E2F6D3')" style="background-color: #E2F6D3"></button>
                          <button class="colorOptions"  (click)="changeColor('#D4E4ED')" style="background-color: #D4E4ED"></button>
                          <button class="colorOptions"  (click)="changeColor('#AECCDC')" style="background-color: #AECCDC"></button>
                          <button class="colorOptions"  (click)="changeColor('#D3BFDB')" style="background-color: #D3BFDB"></button>
                          <button class="colorOptions"  (click)="changeColor('#F6E2DD')" style="background-color: #F6E2DD"></button>
                          <button class="colorOptions"  (click)="changeColor('#E9E3D4')" style="background-color: #E9E3D4"></button>
                          <button class="colorOptions"  (click)="changeColor('#EFEFF1')" style="background-color: #EFEFF1"></button>
                          </button>
                    </mat-menu>
                <mat-icon svgIcon="img-icon" aria-hidden="false" aria-label="pin icon" class="img-icon"></mat-icon> 
                <mat-icon svgIcon="more-icon" aria-hidden="false" aria-label="pin icon" class="menu-icon"></mat-icon>
                <button mat-button class="button" (click)="handleCreateNote('close')">Close</button> 
                <mat-icon svgIcon="undo-icon" aria-hidden="false" aria-label="pin icon" class="undo-icon"></mat-icon>
                <mat-icon svgIcon="redo-icon" aria-hidden="false" aria-label="pin icon" class="redo-icon"></mat-icon>
            </div>
        </div>
        </ng-template>
    </div>
</div>  