.note-cards-container {
    display: flex;
    flex-wrap: wrap; 
    flex-direction: row;
    justify-content: space-around; 
    margin: 100px;
   
}
.note-card{
    margin: px;
    padding: 10px;
    /* overflow: hidden; */
    word-wrap: break-word;
    background-color: aquamarine;
}
.notecard-cnt{
    background-color: black;
}